<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Datatable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Datatable.Properties.Settings>
            <setting name="SIncludeData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SAirTemp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SOilTemp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SGear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SSpeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SRPM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SBrakePos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SAcceleratorPos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SSteeringWheelAng" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SBrakeLight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SDeadPoint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SOilLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SGasLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SPowerGood" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SAllGraphs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SSelectGraphMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STimerTick" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SSaveRefresh" serializeAs="String">
                <value>False</value>
            </setting>
        </Datatable.Properties.Settings>
    </userSettings>
</configuration>